<!DOCTYPE html>
<html>
<head>
<title>Add Doctor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">
<h2>Invertis Hospital</h2>

<a href="/">Dashboard</a>
<a href="/doctor">Doctors</a>
<a href="/patient">Patients</a>
<a href="/disease">Disease</a>
<a href="/book">Book Appointment</a>
<a href="/appointments">Appointments</a>

</div>

<div class="main">

<h2>Add Doctor</h2>

<form method="POST" action="/doctor">

<label>Doctor Name</label>
<input type="text" name="name" required>

<label>Speciality</label>
<input type="text" name="speciality" required>

<button type="submit">Add Doctor</button>

</form>

</div>

</body>
</html>